
<html ng-app="CraftWebApplication">

<head>
  <script src="../build/bundle.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <title>Craft Design Display</title>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="823295775309-vp33qltcp1m6rd92146jev68aiuqa526.apps.googleusercontent.com">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <style>
    ul{
      list-style-type: none;
      margin:0;
      overflow: hidden;
      position: relative;
      background-color: #282d35;
      font-size: 5px;
      border-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: red;
    }

    body{
      background-color: white;
    }

    li{
      float: left;
      display: inline;
    }

    li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      font-size: 14px;
    }


    li a:hover:not(.active){

    }


    li a:hover{
      background-color: #454e5b;
      text-decoration: none;
      color: white;
    }


    .rightNav{
      float: right;
      padding-right: 2%;
    }




  </style>
</head>

<body>

<div id="indexPage" ng-controller = "homePageController">



<div ng-show="!formData.isLoggedIn">
  <ul id="nav">
    <li>
      <a id="navbtn1" href="#home"><i class="fa fa-leaf" aria-hidden="true"></i> Fertile dreams</a>
    </li>

    <li>
      <a id="navbtn2" href="#browsecrafts"> Browse Crafts </a>
    </li>

    <li>
      <a id="navbtn3" href="#createyourowncraft">Create Your Own Crafts</a>
    </li>
    <li>

    </li>
    <li class ="rightNav"><a id="navRightBtn1" href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
    <li class ="rightNav"><a id="navRightBtn2" href="#registeruser"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>
  </ul>
</div>

  <!--change the formData-->
  <div ng-show= "formData.isLoggedIn">
    <ul>
      <li>
        <a href="#home"><i class="fa fa-leaf" aria-hidden="true"></i> Fertile dreams</a>
      </li>

      <li>
        <a href="#browsecrafts"> Browse Crafts </a>
      </li>

      <li>
        <a href="#createyourowncraft">Create Your Own Crafts</a>
      </li>
      <li>
        <a href="#profile">Build your own shop</a>
      </li>
      <!--<li class ="rightNav"><a href="#login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>-->
      <!--<li class ="rightNav"><a href="#registeruser"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>-->
      <li class="rightNav">
        <a href="#signout">Sign out</a>
      </li>
      <li class="rightNav" ng-model = "user"><a href="#profile">{{formData.userName}} <p style=" color: red;display: inline-block">&#10004</p> </a></li>

    </ul>

  </div>

<div id = "main">


<div ng-view>




</div>



</div>




  <div id = "footer">
    <footer>



    </footer>
  </div>
</div>

</body>

</html>