
<style>

    div.polaroid{
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

    div.polaroid2{
        width: 60%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
    }

    div.craftContainer {
        text-align: center;
        padding: 10px 20px;
    }

    img{
        width: 100%;
    }

    button{
        width: 100%;
    }

    .footer {
        position: relative;
        bottom:0;
        width:100%;
        height:100px;   /* Height of the footer */
        background: #282d35;
    }

    .darkRow{
        color: 	white;
        padding-left: 2%;
    }

    .facebookButton{
        background-color: red;
        color: white;
        border: none;
    }

    .facebookButton:hover{
        background-color: darkred;
    }

</style>

<script>




</script>


<div ng-controller="browseCraftsController" id ="browseCrafts">

<div class="container">

        <div class ="row">

            <h3>
                Sections
            </h3>

            <hr style="border: 1px solid red">

            <div class = "col-md-2">

                <div class = "polaroid" >
                    <img src="public/images/homecraft.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                        <div class = "craftContainer">

                            <p id = "polaroid1"><b>Home Crafts</b></p>
                            <hr style="border: 1px solid red">
                            <p>Crafts Made at Home</p>
                            <form action = "#homecraftsection">
                                <button id ="polBtn1" class="facebookButton">See More..</button>
                            </form>



                        </div>
                </div>

            </div>

            <div class = "col-md-2">

                <div class = "polaroid">
                    <img src="public/images/woodcraft.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                    <div class = "craftContainer">

                        <p  id = "polaroid2"><b>Wood Crafts</b></p>
                        <hr style="border: 1px solid red">
                        <p>Crafts Made From Wood</p>
                        <form action ="#woodcraftsection">
                            <button id="polBtn2" class="facebookButton">See More..</button>
                        </form>


                    </div>
                </div>
            </div>

            <div class = "col-md-2">

                <div class = "polaroid">
                    <img src="public/images/metalcrafts.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                    <div class = "craftContainer">

                        <p  id = "polaroid3"><b>Metal Crafts</b></p>
                        <hr style="border: 1px solid red">
                        <p>Crafts Made From Metal</p>
                        <form action = "#metalcraftsection">
                            <button id="polBtn3" class="facebookButton">See More..</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class = "col-md-2">

                <div class = "polaroid">
                    <img src="public/images/papercraft.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                    <div class = "craftContainer">

                        <p id = "polaroid4"><b>Paper Crafts</b></p>
                        <hr style="border: 1px solid red">
                        <p>Crafts Made From Paper</p>
                        <form action = "#papercraftsection">
                            <button id ="polBtn4" class="facebookButton">See More..</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class = "col-md-2">

                <div class = "polaroid">
                    <img src="public/images/fabriccrafts.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                    <div class = "craftContainer">

                        <p id = "polaroid5"><b>Fabric Crafts</b></p>
                        <hr style="border: 1px solid red">
                        <p>Crafts Made From Fabric</p>
                        <form action = "#fabriccraftsection">
                            <button id="polBtn5" class="facebookButton">See More..</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class = "col-md-2">

                <div class = "polaroid">
                    <img src="public/images/randomcrafts.jpg" alt="placeholder" style="width:100%" width="150px" height="150px">
                    <div class = "craftContainer">

                        <p id = "polaroid6"><b>Other Crafts</b></p>
                        <hr style="border: 1px solid red">
                        <p>Micellanious Crafts</p>

                        <form action = "#othercraftsection">
                             <button id="polBtn6" class="facebookButton">See More..</button>
                        </form>
                    </div>
                </div>

            </div>


        </div>



</div>

    <div class = "container-fluid" align="center">




        <div class="row" style="background-color: #282d35">
            <h3 id="featuredCrafts" class = "darkRow">Featured Crafts</h3>

            <div class = "col-md-4">



                <div style="border: 2px solid red; width: 50%; height: 40%;" class = "polaroid2" >
                    <img src="public/images/placeholder3.jpg" alt="placeholder" style="width:100%; height: 55%">
                    <div class = "craftContainer">

                        <p>{{featured[0].title}}</p>
                        <hr style="border: 1px solid red">
                        <p>{{featured[0].infoTitle}}</p>
                        <p>€ {{featured[0].price}}</p>

                    </div>
                </div>

            </div>



            <div class = "col-md-4">


                <div style="border: 2px solid red; width: 50%; height: 40%;" class = "polaroid2" >
                    <img src="public/images/placeholder2.jpg" alt="placeholder" style="width:100%; height: 55%">
                    <div class = "craftContainer">

                        <p>{{featured[1].title}}</p>
                        <hr style="border: 1px solid red">
                        <p>{{featured[1].infoTitle}}</p>
                        <p>€ {{featured[1].price}}</p>

                    </div>
                </div>

            </div>


            <div class = "col-md-4">

                <div style="border: 2px solid red; width: 50%; height: 40%;" class = "polaroid2" >
                    <img src="public/images/placeholder1.jpg" alt="placeholder" style="width:100%; height: 55%">
                    <div class = "craftContainer">

                        <p>{{featured[2].title}}</p>
                        <hr style="border: 1px solid red">
                        <p>{{featured[2].infoTitle}}</p>
                        <p>€ {{featured[2].price}}</p>

                    </div>
                </div>

            </div>


        </div>


    </div>

    <div ng-controller="browseCraftController as list">



    <div class = "container">

        <div class = "row" id = "contentPanel">

            <div class = "col-md-3">



            </div>

        </div>

    </div>

    </div>



    <div class="footer">


    </div>

</div>






