
<style>

    .formOption{
        padding: 20px;
    }

    input[type=text], select{
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width: 50%;
        display: inline-block;
    }

    input[type=submit]{
        width: 50%;
        background-color: red;
        color: white;
        padding: 14px 20px;
        margin:8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;

    }

    .footer {
        position: relative;
        bottom:0;
        width:100%;
        height:100px;   /* Height of the footer */
        background: #282d35;
    }


</style>

<div ng-controller="createCraftController">

    <div class = "container">
        <h3>Please add some of your craft images - Maximum 3</h3>
        <hr style="border: 1px solid red">
        <div class = "row" style="padding: 10px">




        <div class = "col-md-4">


            <img src="/images/Upload.svg" alt ="FirstImage" width="300" height="300">


        </div>


        <div class = "col-md-4">


            <img src="/images/Upload.svg" alt ="FirstImage" width="300" height="300">
            <!--<input type="file" style="width: 300px; height: 25px" name="multiplefileupload" multiple >Upload Images-->
            <form action = "routes/uploadImage">
                <input type="file" name ="multiplefileupload" multiple/>

            </form>


        </div>


        <div class = "col-md-4">


            <img src="/images/Upload.svg" alt ="FirstImage" width="300" height="300">

        </div>


        </div>

        <div class="row" style="background-color: #D3D3D3; padding: 10px">

            <h3>Craft Information</h3>

            <div class = "col-md-12">

                <form ng-sumbit="addCraft();">

                    <!--Craft Category-->
                    <div class = "formOption">
                        <label for ="craftCategory">Craft Category</label><br>
                        <select ng-model="formData.category">
                            <option>Home Crafts</option>
                            <option>Wood Crafts</option>
                            <option>Metal Crafts</option>
                            <option>Paper Crafts</option>
                            <option>Fabric Crafts</option>
                            <option>Other Crafts</option>
                        </select>
                    </div>

                    <!-- Craft Title-->
                    <div class ="formOption">
                        <label for ="craftTitle">Craft Title</label><br>
                        <input type="text" id="craftTitle" name="craftTitle" placeholder="Desriptive name of your craft" ng-model="formData.title"><br>
                    </div>



                    <!--Craft Sub title-->
                    <div class = "formOption">
                        <label for ="craftSubTitle">Craft Info Title</label><br>
                        <input type="text" id="craftSubTitle" name="craftSubTitle" placeholder="A subtitle for your craft" ng-model="formData.infoTitle"?><br>
                    </div>




                    <!--Craft Price-->
                    <div class = "formOption">
                        <label for = "craftPrice">Craft price</label><br>
                        <input style="width: 25%" type ="text" id="craftPrice" name="craftPrice" placeholder="Price.." ng-model = "formData.price">
                        <select style="width: 10%" name = "currency">

                            <option value="EUR">
                                EUR
                            </option>
                            <option value="GBP">
                                GBP
                            </option>

                        </select><br>
                    </div>


                    <!--Craft Description-->
                    <!--This has to be alot bigger than a normal form input just take note-->
                    <div class ="formOption">
                        <label for="craftDesc">Craft Description</label><br>
                        <input type="text" id="craftDesk" name="craftDesc" placeholder="Craft Desc.." ng-model = "formData.description"><br>
                    </div>



                    <!--Craft Tags-->
                    <div class = "formOption">

                        <label for = "craftTags">Craft Tags</label><br>
                        <input type = "text" id="craftTags" name="craftTags" placeholder="Cards..WoodCraft...etc.." ng-model ="formData.tags"><br>
                        <p style="font-size: 10px; color: #282d35">Example - Cards, Birthday, Papercraft etc. - makes searching easier</p><br>

                    </div>

                    <!--Featured Functionality-->
                    <div class = "formOption">

                        <label for="featuredPost">Feature this craft?</label><br>
                        <input type ="radio" name="featuredPostsTrue" ng-model="formData.featured" value="true" checked>Yes Please!<br>
                        <input type ="radio" name="featuredPostsFalse" ng-model="formData.featured" value="false" checked>Not Now.<br>


                    </div>


                    <!--Submit Craft-->
                    <div class = "formOption" align="center">
                        <input  type="submit" ng-click="addCraft();" value="Submit"><br>
                    </div>


                    <div class = "formOption">

                        <p style="text-align: center">By clicking submit you are excepting<b style="color: red">
                                Featured Dreams</b><a href=""><b style="color: #00B7FF">
                                    Terms of Service</b> </a> agreement </p>

                    </div>



                </form>


            </div>

        </div>

    </div>

    <div class="footer">



    </div>



</div>